{{> ../../components/navigation/navigation.hbs navItems=navItems }}

<div style="height: 100px; background: url(topography.png)"></div>

<div style="border-top: 1px solid #eee">

  <div class="content-width">
    <h1 class="util-text-center">Building a Better Tomorrow</h1>

    <p>Duis augue amet ex auctor magnis cubilia quam nibh venenatis vitae, non quisque inceptos dui neque iaculis eros etiam efficitur, fames suspendisse erat dolor felis dictumst arcu aptent tincidunt. Faucibus amet interdum.</p>

    {{> ../../components/list/list.hbs items=listItems }}

    <p>Habitasse facilisi dui nostra maximus lorem erat finibus semper, ultrices consectetur leo mus convallis fermentum bibendum aptent, ex mollis feugiat ipsum class mauris condimentum. Id interdum vulputate fermentum dictum est adipiscing mattis lorem dolor nisl suscipit, tempor magnis penatibus vel habitasse platea sed venenatis bibendum euismod.</p>

    {{> ../../components/button/button.hbs text=ctaText }}
  </div>
</div>
